/* src/features/admin/styles/DashboardPage.module.css */

.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  overflow-x: hidden;
}

.kpiRow {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.chartRow {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.filterRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* align-items: center; */
  column-gap: 2rem;
  row-gap: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
