/* src/components/common/KpiCard.module.css */
@import "../../../index.css";

.card {
  position: relative;
  flex: 1 1 200px;
  min-width: 150px;
  max-width: 100%;
  border-radius: 12px;
  padding: 1.25rem;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 250px;
}

.topRightIcon,
.bottomLeftIcon {
  position: absolute;
  font-size: 1.2rem;
  opacity: 0.7;
}

.topRightIcon {
  top: 0.5rem;
  right: 0.5rem;
}

.bottomLeftIcon {
  bottom: 0.5rem;
  left: 0.5rem;
}

.value {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.title {
  font-size: 0.9rem;
  text-align: center;
}

/* Breakpoint mobile */
@media (max-width: 480px) {
  .card {
    flex: 1 1 100%;
    padding: 1rem;
  }
  .value {
    font-size: 1.5rem;
  }
  .title {
    font-size: 0.85rem;
  }
}
