/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* ————— Polices ————— */
  --font-family-base: "Montserrat", Arial, "Segoe UI", sans-serif;

  /* ————— Couleurs ————— */
  --color-gray-dark: #444444;
  --color-gray-medium: #686868;
  --color-gray-light-medium: #888888;
  --color-gray-lighter: #cccccc;
  --color-gray-lightest: #d9d9d9;
  --color-gray-light: #f2f2f2;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-yellow: #fbc02d;

  --color-primary: #2b517a;
  --color-primary-50: #217785; /* 53% d'opacité */

  --color-error: #c62828;
  --color-accent-purple: #9747ff;
  --color-success: #388e3c;

  --color-bg-light: #e0f7fa;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
  color: var(--color-gray-dark);
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-gray-light {
  background-color: var(--color-gray-light);
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-gray-dark);
  width: 100px;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--color-primary);
  transition: all 0.3s ease;
  font-weight: 600;
}
.FiltresActions {
  margin: 1.25rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.25rem;
  row-gap: 0.8rem;
  box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.05);
}
.FiltresActions .form-group {
  margin-bottom: 0;
  border-radius: 5px !important;
}
.FiltresActions input,
.SelectField,
.btn {
  padding: 5px 5px;
  height: 40px;
  border-radius: 5px !important;
  min-width: 150px;
  width: auto;
  text-align: center;
  margin-bottom: 0 !important;
}

.statsContainer {
  margin: 10px 10px 10px 0;
}

@media screen and (max-width: 768px) {
  h2,
  h4 {
    font-size: 1.25rem;
  }
  .FiltresActions {
    column-gap: 0;
    justify-content: none !important;
  }
}
