/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* ————— Polices ————— */
  --font-family-base: "Montserrat", Arial, "Segoe UI", sans-serif;

  /* ————— Couleurs ————— */
  --color-gray-dark: #444444;
  --color-gray-medium: #686868;
  --color-gray-light-medium: #888888;
  --color-gray-lighter: #cccccc;
  --color-gray-lightest: #d9d9d9;
  --color-gray-light: #f2f2f2;
  --color-black: #000000;
  --color-white: #ffffff;

  --color-primary: #2b517a;
  --color-primary-50: rgba(43, 81, 122, 0.53); /* 53% d'opacité */

  --color-accent-purple: #9747ff;
  --color-error: #c62828;
  --color-success: #388e3c;

  --color-bg-light: #e0f7fa;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
  color: var(--color-gray-dark);
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-gray-light {
  background-color: var(--color-gray-light);
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-gray-dark);
}
